body {
    background-color: powderblue;
    background-size: cover;
}

.box {
    text-align: center;
    margin: auto;
    border:solid;
    box-shadow: 2px 2px slategrey;
    width: 50vh;
    height: 50vh;
    text-shadow: 1px 1px olive;
}
a {
    display:block;
    color: black;
}

a:hover {
    transition: 1s;
    display: block;
    color: crimson;
}
@media (max-width: 800px) {
    body {
      background-color: black;
      color: white;
    }
  }