body {
    background-color: rgb(245, 225, 184);
    color: black;
}

h1 {
    font-size: 20px;
    border: dotted;
    border-width: 2px;
}

p {
    font-size: 20px;
    color: black;
    background-color: aquamarine;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
}

.divclass {
    border: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
}
* {
    box-sizing: border-box;
  }
  
nav {
    float: left;
    width: auto;
    background: #ccc;
    padding: 20px;
  }
article {
    float: right;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
  }
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  }
section {
  float: left;
  content: "";
  width: 65%;
  display: table;
  clear: both;
  }

  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #e09494;
  color: #ffffff;
}

.menu li:hover {
  background-color: #d15c5c;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  padding: 15px;
}
.content {
  width: 75%;
}
.menu {
  width: 25%;
}
